@font-face {
  font-family: 'iconfont';  /* project id 1923036 */
  src: url('//at.alicdn.com/t/font_1923036_5gjatl7dtin.eot');
  src: url('//at.alicdn.com/t/font_1923036_5gjatl7dtin.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1923036_5gjatl7dtin.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1923036_5gjatl7dtin.woff') format('woff'),
  url('//at.alicdn.com/t/font_1923036_5gjatl7dtin.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1923036_5gjatl7dtin.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e6de";
}

.icon-edit:before {
  content: "\e600";
}

.icon-le:before {
  content: "\e689";
}

.icon-admin:before {
  content: "\e601";
}

.icon-pwd:before {
  content: "\e602";
}
/* 向下 */
.icon-down:before {
  content: "\e603";
}
/* 向右 */
.icon-right:before {
  content: "\e6fa";
}
/* 搜索 */
.icon-search:before {
  content: "\e604";
}
